<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body>
		<header>
			<nav>{{>navbar}}</nav>
		</header>
		<h1>{{ title }}</h1>
		<main>
			<div class="row align-items-center">
				<div class="col-sm-4">
					<div class="card text-center"">
						<div class="card-body">
							<h5 class="card-title">Edit Item</h5>
							<p class="card-text">Edit menu items</p>
							<a href="/menus/edititem" class="btn btn-primary">Edit Item</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center"">
						<div class="card-body">
							<h5 class="card-title">Add Item</h5>
							<p class="card-text">Add a new menu item</p>
							<a href="/menus/additem" class="btn btn-primary">Add Item</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Add New User</h5>
							<p class="card-text">Add a new admin user</p>
							<a href="/adduser" class="btn btn-primary">Add User</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Delete Item</h5>
							<p class="card-text">Delete menu item</p>
							<a href="/menus/deleteitem" class="btn btn-primary">Delete Item</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Save Item to Specials</h5>
							<p class="card-text">Select an item to save in the chef specials</p>
							<a href="/addtospecials" class="btn btn-primary">Save Item</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Delete User</h5>
							<p class="card-text">Delete a current user</p>
							<a href="/deleteuser" class="btn btn-primary">Delete User</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">View Messages</h5>
							<p class="card-text">View messages sent by customers</p>
							<a href="/viewmessages" class="btn btn-primary">View</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
