<!DOCTYPE html>
<html>
	<head>
		{{>header}}
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			<nav>{{>navbar}}</nav>
		</header>
		<div class="row align-items-center" style="margin-top: 30px">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h1>{{ title }}</h1>
			</div>
		</div>
		<div class="row align-items center" style="margin-top: 30px">
			<div class="col d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card" style="border-color: #115d99">
						<div class="card-body">
							<h5 class="card-title">About Us</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									Our vision is to provide the students of GCU with health,
									affordable and sustainable meals while they study.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items center" style="margin-top: 30px">
			<div class="col d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card" style="border-color: #115d99">
						<div class="card-body">
							<h5 class="card-title">Sustainability</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									We are a small independant Cafe that operates on the ground of
									GCU. We provide students with an afforable and sustainable
									meals to help keep them fed while studying. We support local
									produce and only use ethical suppliers.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items center" style="margin-top: 30px">
			<div class="col d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card" style="border-color: #115d99">
						<div class="card-body">
							<h5 class="card-title">Ethical Practices</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									We are a small independant Cafe that operates on the ground of
									GCU. We provide students with an afforable and sustainable
									meals to help keep them fed while studying. We support local
									produce and only use ethical suppliers.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
