<!DOCTYPE html>
<html>
	<head>
		{{>header}}
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			<nav>{{>navbar}}</nav>
		</header>
		<div class="row align-items-center" style="margin-top: 30px">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h1>{{ title }}</h1>
			</div>
		</div>
		<div class="row align-items center" style="margin-top: 30px">
			<div class="col d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card" style="border-color: #115d99">
						<div class="card-body">
							<h5 class="card-title">About Us</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									We are a small cafe that operates on the grounds of Glasgow
									Caledonian University, providing GCU students with an
									affordable and sustainable meals to keep them going. We
									support local, ethical and sustainable businesses and are
									carbon nutral.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items center" style="margin-top: 30px">
			<div class="col d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card" style="border-color: #115d99">
						<div class="card-body">
							<h5 class="card-title">Sustainability</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									The quality and sustainability of all our products is vital to
									the operation of the cafe. It is important to our customers
									and staff that we operate as an eco friendly, ethical
									business.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items center" style="margin-top: 30px">
			<div class="col d-flex justify-content-center">
				<div class="col-sm-6">
					<div class="card" style="border-color: #115d99">
						<div class="card-body">
							<h5 class="card-title">Ethical Practices</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<ul>
										<li>
											Careful stock management and holding practices has reduced
											our food waste to almost zero
										</li>
										<li>
											We reuse certain food products/peelings as garnishes where
											possible
										</li>
										<li>
											We work closely with Network Rail and recycle all our
											glass, cardboard and general waste.
										</li>
										<li>
											Reduce printed material, but when it’s required always use
											recyclable paper
										</li>
										<li>
											Maintaining equipment; all equipment is maintained to the
											best of our ability and where possible will be repaired
											rather than replaced.
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
