<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body style="overflow: hidden;">
		<nav>{{>navbar}}</nav>
		<h1>{{ title }}</h1>
		<form method="post" role="form" action="/additem" style="margin-left: 10px;">
			<div>
				<div class="input-group mb-3">
					<label class="col-sm-1 col-form-label input-group-text" for="name" id="name"
						>Name</label
					>
					<input
						class="form-control"
						type="text"
						id="name"
						name="name"
						placeholder="Enter item Name"
						required
					/>
				</div>
			</div>
			<div class="input-group mb-3">
				<label class="col-sm-1 col-form-label input-group-text" for="description" id="description">Description</label>
				<input
					class="form-control"
					type="text"
					id="description"
					name="description"
					placeholder="Enter item description"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<label class="col-sm-1 col-form-label input-group-text" for="price" id="price">Price</label>
				<input
					class="form-control"
					type="number"
					id="price"
					name="price"
					placeholder="Enter Item Price"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<label class="col-sm-1 col-form-label input-group-text" for="allergens" id="allergens">Allergens</label>
				<input
					class="form-control"
					type="text"
					id="allergens"
					name="allergens"
					placeholder="Enter allergens"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<label class="col-sm-1 col-form-label input-group-text" for="ingredients" id="ingredients">Ingredients</label>
				<input
					class="form-control"
					type="text"
					id="ingredients"
					name="ingredients"
					placeholder="Enter Ingredients"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<span for="assigned_menu" id="assigned_menu" class="input-group-text">Select Menu</span>
				<select class="form-select" id="assigned_menu" name="assigned_menu">
					<option selected">Select</option>
					<option value="dinner">Dinner</option>
					<option value="lunch">Lunch</option>
					<option value="specials">Special</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">Select Course</span>
				<select class="form-select" id="course" name="course">
					<option selected">Select</option>
					<option value="starter">Starter</option>
					<option value="main">Main</option>
					<option value="dessert">Dessert</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">Is the item available?</span>
				<select class="form-select" id="isAvailable" name="isAvailable">
					<option selected">Select</option>
					<option value="true">True</option>
					<option value="false">False</option>
				</select>
			</div>
			<br>
				<div class="col-sm-5">
					<input type="submit" value="Enter Item" class="btn btn-primary">
				</div>
			</div>
		</form>
	</body>
</html>
