<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body style="overflow: hidden">
		<nav>{{>navbar}}</nav>
		<h1>{{ title }}</h1>

		<form method="post" role="form" action="/deleteitem">
			<div>
				<div class="input-group mb-3">
					<span for="name" id="name" class="input-group-text">Select Item</span>
					<select class="form-select" id="name" name="name">
						<option selected>Select</option>
						{{#items}}
						<option name="{{ name }}" value="{{ name }}">
							{{ name }} On Menu: {{ assigned_menu }}
						</option>
						{{/items}}
					</select>
				</div>
				<div class="col-sm-10">
					<input type="submit" value="Delete" class="btn btn-danger" />
				</div>
			</div>
		</form>

		{{^items}}
		No items
		{{/items}}
	</body>
</html>
