<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body>
		<nav>{{>navbar}}</nav>
		<h1>{{ title }}</h1>
		{{#items}}
		<div>
			<h4>{{ name }}</h4>
			<p>{{ description }}</p>
			<p>{{ price }}</p>
			<p>{{ allergens }}</p>
			<p>{{ ingrdients }}</p>
		</div>
		{{/items}}

		{{^items}}
		No items
		{{/items}}
	</body>
</html>
