<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body style="overflow: hidden">
		<header>
			<nav>{{>navbar}}</nav>
		</header>
		<h1>{{ title }}</h1>
		<form method="post" role="form" action="/editItem">
			<div class="card">
				<div class="input-group mb-3">
					<span for="name" id="name" class="input-group-text">Select Item</span>
					<select class="form-select" id="name" name="name">
						<option value="null">Select</option>
						{{#items}}
						<option name="{{ name }}" value="{{ name }}">{{ name }}</option>
						{{/items}}
					</select>
				</div>
				<div class="input-group mb-3">
					<span for="isAvailable" id="isAvailable" class="input-group-text"
						>Is this item available?</span
					>
					<select class="form-select" id="isAvailable" name="isAvailable">
						<option selected>Select</option>
						<option value="false">False</option>
						<option value="true">True</option>
					</select>
				</div>
			</div>
			<input type="submit" value="Enter Item" class="btn btn-primary" />
		</form>

		{{^items}}
		No items
		{{/items}}
	</body>
</html>
