<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body>
		<header>
			<nav>{{>navbar}}</nav>
		</header>
		<div class="row align-items-center" style="margin-top: 30px">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h1>Home</h1>
			</div>
		</div>
	</body>
</html>
