<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body>
		<header>
			<nav>{{>navbar}}</nav>
		</header>
		<div class="row align-items-center" style="margin-top: 30px">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h1>Home</h1>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-4">
				<div class="card text-center"">
					<div class="card-body">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="180"><a href="/menus"><rect width="100%" height="100%" fill="#4ea699"></rect><text x="35%" y="55%" font-size="35" fill="#dee2e6">Menus</text></a></svg>
						<p class="card-text">Check our our specially crafted menus</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-center"">
					<div class="card-body">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="180"><a href="/aboutus"><rect width="100%" height="100%" fill="#4ea699"></rect><text x="30%" y="55%" font-size="35" fill="#dee2e6">About Us</text></a></svg>						
						<p class="card-text">Want to learn more about us? Check us out!</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-body">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="180"><a href="/contact"><rect width="100%" height="100%" fill="#4ea699"></rect><text x="26%" y="55%" font-size="35" fill="#dee2e6">Contact Us</text></a></svg>						
						<p class="card-text">Want to send us a message? Contact us!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				
			</div>
		</div>
	</body>
</html>
