<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body style="overflow: hidden;">
		<nav>{{>navbar}}</nav>
		<div class="row align-items-center" style="margin-top: 30px">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h1>{{ title }}</h1>
			</div>
		</div>
		<div class="row align-items-center">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h4>Select from one of our delicious menus</h4>
			</div>
		</div>
			<div class="row align-items-center">
				<div class="col-12 d-flex justify-content-center">
				<div class="col-sm-4">
					<div class="card text-center"">
						<div class="card-body">
							<a href="/menus/dinner" class="btn btn-primary">Dinner Menu</a>
							<p class="card-text">View our dinner menu, it includes some amazing starters, main courses and deserts</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-center"">
						<div class="card-body">
							<a href="/menus/lunch" class="btn btn-primary">Lunch Menu</a>
							<p class="card-text">Check our our lunch menu. Available from 12-4, Monday-Friday</p>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col d-flex justify-content-center">
					<div class="col-sm-4">
						<div class="card text-center"">
							<div class="card-body">
								<a href="/menus/specials" class="btn btn-primary">Specials</a>
								<p class="card-text">Have a look at our chef specials. Made by our great chefs</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
