<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body>
		<nav>{{>navbar}}</nav>
		<div class="row align-items-center" style="margin-top: 30px">
			<div
				class="col-12 d-flex justify-content-center"
				style="margin-bottom: 20px"
			>
				<h1>{{ title }}</h1>
			</div>
		</div>
		<div><a href="/menus/dinner">Dinner</a></div>
		<div><a href="/menus/lunch">Lunch</a></div>
	</body>
</html>
