<!DOCTYPE html>
<html>
	<head>
		{{>header}}
	</head>
	<body>
		<nav>{{>navbar}}</nav>
		<h1>{{ title }}</h1>
		<div><a href="/menus/dinner">Dinner</a></div>
		<div><a href="/menus/lunch">Lunch</a></div>
	</body>
</html>
